<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440282345355-9g61a5fet35sv1vqbasb2v8bhq67ghte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440282345355-9g61a5fet35sv1vqbasb2v8bhq67ghte</string>
	<key>API_KEY</key>
	<string>AIzaSyBmEPigu735esFugfnIzhfOIISgqN_6DRM</string>
	<key>GCM_SENDER_ID</key>
	<string>440282345355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alzaim.Client</string>
	<key>PROJECT_ID</key>
	<string>alzaim-e1552</string>
	<key>STORAGE_BUCKET</key>
	<string>alzaim-e1552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440282345355:ios:9b2e34342a36e8e26bc98e</string>
</dict>
</plist>